
/* css reset */

*{
    margin: 0;
    padding: 0;
    }
    
    body{
        width: 100%;
        height: 100%;
    }
    
    
    /* css variables */
    
    :root{
        --navbar-height:var(--navbar-height: 59px;)
    }
    
    /* navigation bar */
    
    #navbar{
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    top: 0;
    }
    
    /* navigation bar:logo and images */
    
    #logo{
       margin: 15px ;
       position: relative;
       right: 44%;
        
    }
    
    #logo img{
        height: 50px;
        width: 120px;
        margin: 5px;
    }
    
    
    /* navigation bar:list styleing */
    
    #navbar ul{
        display: flex;
        
    }
    
    #navbar ul li { 
        list-style: none;
        font-size: 1.3rem;
        font-family: sans-serif;
        margin: 5px 15px;
    }
    
    #navbar ul li a{
        color: white;
        display: block;
        border-radius: 20px;
        padding: 3px 22px;
        text-decoration: none;
    }
    
    #navbar ul li a:hover{
        color: black;
        background-color: white;
    }
    
    #navbar::before{
        content: "";
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0.9;
    }


/* home section css */

#home  {
    display: block;
    margin: auto;
    width: 1126px;
    height: 660px;
}

#home .h-third{
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background-color: palevioletred;
    position: relative;
    bottom: 250px;
    left: 900px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home .h-third h3{
    font-size: 1.9rem;

}

/* section about */

#about{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #eae7e8;
} 

  /* about h1 and logo styling */


  .about-container h1{
    font-size: 18px;
    margin: 47px 0px 18px;
    color: #7A6666;
  }

  .about-container h2{
    font-size: 30px;
    margin: 0px 0px 26px;
    color: #E32A62;
    font-weight: bolder;
  }
  
  .about-container p{
    color: #7A6666;
    line-height: 1.5rem;
  }

  .about-container p a {
    color: #7A6666;
  }

  .about-container p :hover {
    color: yellowgreen;
  }

#about .about-logo img{
    display: block;
    margin: 0px;
}  

/* 
section blog */

#blog {
    display: flex;
    justify-content: center;
    background-color: yellow;
}

  /* section blog list styling */


  #blog .blog-items ul{
    display: flex;
    flex-direction: row;
  }

  #blog .blog-items ul li{
    list-style: none;
    margin: 20px 85px;
  }

  #blog .blog-items ul li a img {
    display: block;
    margin: auto;
    width: 50px ;
    height: 50px ;
    padding: 25px 10px
  }

  .h-primary{
    font-size: 20px;
    color: white;
  }

  footer{
    text-align: center;
    background-color: black;
    color: aliceblue;
    word-spacing: 1.5rem;
    padding: 14px;
  }